@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center desktop">
    <h1 class="display-4">Административная панель</h1>
    <div class="row">
        <div class="col">
            <a href="category/" class="link-default">
                <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Категории</div>
                    <div class="card-body">
                    <p class="card-text">Редактирование и удаление</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="subcategory/" class="link-default">
                <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Подкатегории</div>
                    <div class="card-body">
                    <p class="card-text">Редактирование и удаление</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="product/" class="link-default">
                <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Товары</div>
                    <div class="card-body">
                    <p class="card-text">Редактирование и удаление</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
         <div class="col">
            <a href="order/" class="link-default">
                <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Заказы</div>
                    <div class="card-body">
                    <p class="card-text">Просмотр и изменения</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="user/" class="link-default">
                <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Пользователи</div>
                    <div class="card-body">
                    <p class="card-text">Просмотр и изменения</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="bot/" class="link-default">
                <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Бот</div>
                    <div class="card-body">
                    <p class="card-text">Отправка уведомлений</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="stories/" class="link-default">
                <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Сторисы</div>
                    <div class="card-body">
                    <p class="card-text">Создание и удаление сторисов</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="tablegame/" class="link-default">
                <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Таблица рекордов</div>
                    <div class="card-body">
                    <p class="card-text">Просмотр таблицы рекордов в игре Карате</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="image/" class="link-default">
                <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Изображения</div>
                    <div class="card-body">
                    <p class="card-text">Добавление изображений</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="promocode/" class="link-default">
                <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Промокоды</div>
                    <div class="card-body">
                    <p class="card-text">Создание и изменение промокодов</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
