@page
@model AdminPanelMarket.Pages.promocode.CreateModel

@{
    ViewData["Title"] = "Создать промокод";
}

<h1>Создать</h1>

<h4>Промокод</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Promocode.Type" class="control-label">Тип</label>
                <select asp-for="Promocode.Type" class="form-control">
                    <option value="cena">От цены в деньгах</option>
                    <option value="cenaprocent">От цены в проценте</option>
                    <option value="category">От категории в деньгах</option>
                    <option value="categoryprocent">От категории в проценте</option>
                    <option value="onlyprocent">Просто процент</option>
                    <option value="onlysumma">Просто деньги</option>
                </select>
                <span asp-validation-for="Promocode.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Promocode.Code" class="control-label">Код промокода</label>
                <input id="code" asp-for="Promocode.Code" class="form-control" />
                <span asp-validation-for="Promocode.Code" class="text-danger"></span>
                <button class="btn btn-primary" type="button" onclick="generateRandomString(6)">Сгенерировать</button>
                
            </div>
            <div class="form-group">
                <label asp-for="Promocode.BonusProcent" class="control-label">Сколько процентов (если выбран тип процент)</label>
                <input asp-for="Promocode.BonusProcent" class="form-control" />
                <span asp-validation-for="Promocode.BonusProcent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Promocode.BonusMoney" class="control-label">Сколько скидка в рублях (если выбран тип в деньгах)</label>
                <input asp-for="Promocode.BonusMoney" class="form-control" />
                <span asp-validation-for="Promocode.BonusMoney" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Promocode.PriceСondition" class="control-label">От какой цены работает промокод</label>
                <input asp-for="Promocode.PriceСondition" class="form-control" />
                <span asp-validation-for="Promocode.PriceСondition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Promocode.SuccessMessage" class="control-label">Успешное сообщение при применение промокода</label>
                <input asp-for="Promocode.SuccessMessage" class="form-control" />
                <span asp-validation-for="Promocode.SuccessMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Promocode.ErrorMessage" class="control-label">Сообщение, если не подходит промокод</label>
                <input asp-for="Promocode.ErrorMessage" class="form-control" />
                <span asp-validation-for="Promocode.ErrorMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать промокод" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Вернутся назад</a>
</div>

<script>
    function generateRandomString(length) {
        const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
        let result = '';
        for (let i = 0; i < length; i++) {
            const randomIndex = Math.floor(Math.random() * characters.length);
            result += characters.charAt(randomIndex);
        }
        document.getElementById('code').value = result;
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
